.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
   
    .container__content{
        width: 100%;
        padding: 24px;
        text-align: center;
        align-items: center;
        
        .context__clock{
            margin-top: 148px;
            width: 48px;
            height: 48px;
        }
        .context__text{
            font-size: 20px;
            font-family: roboto;
            font-weight: 700;
            line-height: 24px;
            text-transform: uppercase;
            margin-top: 16px;
        }

        .context__text2{
            font-size: 14px;
            font-family: roboto;
            font-weight: 400;
            line-height: 20px;
            margin-top: 24px;
        }
    }
}